{% extends 'base.html.twig' %}

{% block title %}
    todo afficher le titre de la series |{{ parent() }}
{% endblock %}

{% block body %}
    <h2>todo : afficher le titre de la serie</h2>

    {# todo : afficher toutes les info de la serie #}
{% endblock %}

